body{
    background-color: #278ACA;
    font-family: 'Kanit', sans-serif;
}
.container{
    width: 65%;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-image: url(./image/386472600_1529217951227421_2738680003221826635_n.png);
    background-size: 100%;
    display:flex;
}
.logo{
    width: 50%;
    height: 75vh;
    border-radius: 15px;
}
img {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 20%;
    display: flex;
}
.title{
    background-color: #46aaf1;
    width: 50%;
    border-radius: 15px;
    text-align: center; 
    background-clip: text;
    color: rgb(68, 68, 68);
}
input[type=text]{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 99px;
}
input[type=password]{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 99px;
}
.login {
    border: solid 0.5px rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #14BD25;
    color: aliceblue;
    width: 24.5%;
    height: 4.5vh;
}
.register {
    border: solid 0.1px rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #278ACA;
    color: aliceblue;
    width: 24.5%;
    height: 4.5vh;
}
.forgotpassword {
    border: solid 0.5px rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #A73B24;
    color: aliceblue;
    width: 24.5%;
    height: 4.5vh;
}
.login:hover {
    background-color: #000000;
    color: white;
  }
.register:hover{
    background-color: #000000;
    color: white;
}
.forgotpassword:hover{
    background-color: #000000;
    color: white;
}