body{
    background-color: #278ACA;
    font-family: 'Kanit', sans-serif;
}
.container{
    border: solid 2px red;
    width: 100%;
    height: 96.8vh;
}
.register{
    width: 70%;
    border: solid 2px rgb(255, 255, 255);
    background: linear-gradient(#278ACA, rgb(241, 235, 235));
    border-radius: 15px;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}
